<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BatchDirectoryCheck.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ApplicationLauncher.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="custom" type="BatchDirectoryCheck.CustomConfigurationSection, BatchDirectoryCheck "/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings configSource="appSettings.config"/>
  <custom>
    <dbServers>
      <add type="Oracle" environment="DMO51" databaseService="ACMP_ADMO_51" databaseHost="mapsshrdbo02.shared.mapshc.com" databasePort="1521" serviceUrl=""
        serviceVersion="R6.0" protectDataSource="true"></add>
      <add type="Oracle" environment="VA55" databaseService="AGLD_VA55" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl=""
        serviceVersion="R1.0" protectDataSource="true"></add>
      <add type="Oracle" environment="VT51SD" databaseService="AGLD_VT51SD" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl=""
        serviceVersion="R1.0" protectDataSource="true"></add>
      <add type="Oracle" environment="VT55" databaseService="AGLD_VT55" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl=""
        serviceVersion="R1.0" protectDataSource="true"></add>
      <add type="Oracle" environment="VT55D" databaseService="AGLD_VT55D" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl=""
        serviceVersion="R1.0" protectDataSource="true"></add>
      <add type="Oracle" environment="VT51" databaseService="AGLD_VERMONT" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl=""
        serviceVersion="R1.0" protectDataSource="true"></add>
      <add type="Oracle" environment="VT51S" databaseService="AGLD_VERMONT_S" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl=""
        serviceVersion="R1.0" protectDataSource="true"></add>
      <add type="Oracle" environment="STG2" databaseService="STG2_PDBA" databaseHost="mapsstgshrdbo01.mapshc.com" databasePort="1521"
        serviceUrl="https://bas.stage2.mapshc.com" serviceVersion="R6.0" protectDataSource="true"></add>
      <add type="Oracle" environment="GOLD59G" databaseService="AGLD_SP59G" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl=""
        serviceVersion="R1.0" protectDataSource="true"></add>
      <add type="Oracle" environment="PerformanceAzure" databaseService="APRF_PDBA" databaseHost="mapsperfdbo01.performance.mapshc.com" databasePort="1521"
        serviceUrl="http://bas.performance.mapshc.com:8010"></add>
      <add type="Oracle" environment="CompareToolSandbox" databaseService="AGLD_COMPARE" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521"
        serviceUrl="http://143.162.101.82:8010" serviceVersion="R1.0" protectDataSource="true"></add>
      <add type="Oracle" environment="DemoAzure" databaseService="ADMO_PDBA" databaseHost="mapsdemodbo01.demo.mapshc.com" databasePort="1521"
        serviceUrl="http://bas.demo.mapshc.com:8010"></add>
      <add type="Oracle" environment="DevAzure" databaseService="ADEV_PDBA" databaseHost="mapsdevdbo01.dev.mapshc.com" databasePort="1521"
        databaseInitialCatalog="UA3_TENANT" serviceUrl="http://bas.dev.mapshc.com:8010/"></add>
      <add type="Oracle" environment="TestAAzure" databaseService="ATST_PDBA" databaseHost="mapststdbo01.test.mapshc.com" databasePort="1521"
        databaseInitialCatalog="UA3_TENANT" serviceUrl="http://bas.test.mapshc.com:8010"></add>
      <add type="Oracle" environment="Stage1Azure" databaseService="AST1_PDBA" databaseHost="mapsstg1dbo01.staging-1.mapshc.com" databasePort="1521"
        serviceUrl="http://bas.staging-1.mapshc.com:8010"></add>
      <add type="Oracle" environment="StageAzure" databaseService="ASTH_PDBA" databaseHost="mapsstgdbo01.staging.mapshc.com" databasePort="1521"
        serviceUrl="http://bas.staging.mapshc.com:8010"></add>
      <add type="Oracle" environment="SandBoxAzure" databaseService="APOC_PDBA" databaseHost="mapsshrdbo02.shared.mapshc.com" databasePort="1521"
        serviceUrl="http://bas.sandbox.mapshc.com:8010"></add>
      <add type="Oracle" environment="BetaAzure" databaseService="ABTA_PDBA" databaseHost="mapsbetadbo01.beta.mapshc.com" databasePort="1521"
        serviceUrl="http://bas.beta.mapshc.com:8010"></add>
      <add type="Oracle" environment="STG2" databaseService="STG2_PDBA" databaseHost="mapsstgshrdbo01.mapshc.com" databasePort="1521"
        serviceUrl="https://bas.stage2.mapshc.com" serviceVersion="R6.0" protectDataSource="true"></add>
      <add type="Oracle" environment="STG3" databaseService="STG3_PDBA" databaseHost="mapsstgshrdbo02.mapshc.com" databasePort="1521"
        serviceUrl="https://bas.stage3.mapshc.com" serviceVersion="R6.0" protectDataSource="true"></add>
      <add type="Oracle" environment="AXSP_SP55A" databaseService="AXSP_SP55A" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521"
        serviceUrl="http://bas.sp55a.mapshc.com:8010"></add>
      <add type="Oracle" environment="TrainKansas" databaseService="KSHISA2_TAF" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030"
        serviceUrl="http://bas-train.ksad.xks.dcs-usps.com:8010"></add>
      <add type="Oracle" environment="UatConvKansas" databaseService="KSHISP2_TAF" databaseHost="usolpldxks00-scan02.xks.dcs-usps.com" databasePort="20050"
        serviceUrl="http://bas-conv.ksad.xks.dcs-usps.com:9010"></add>
      <add type="Oracle" environment="UatAKansas" databaseService="KSMISA2_TAF" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030"
        serviceUrl="http://30.201.181.23:9010"></add>
      <add type="Oracle" environment="SitAKansas" databaseService="KSMISM2_TAF" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030"
        serviceUrl="http://usolgwwxks003.ksad.xks.dcs-usps.com:9010"></add>
      <add type="Oracle" environment="SitBKansas" databaseService="KSMISM3" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030"
        serviceUrl="http://bas-sitb.ksad.xks.dcs-usps.com:8010"></add>
      <add type="Oracle" environment="SitCKansas" databaseService="KSMISM4" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030"
        serviceUrl="http://bas-sitc.ksad.xks.dcs-usps.com:8010"></add>
      <add type="Oracle" environment="Prod1Kansas" databaseService="KSMISP2_TAF" databaseHost="usolpldxks00-scan02.xks.dcs-usps.com" databasePort="20050"
        serviceUrl="http://30.201.183.19:8010"></add>
      <add type="Oracle" environment="Pps1Kansas" databaseService="KSMISS3_TAF" databaseHost="usolpldxks00-scan02.xks.dcs-usps.com" databasePort="20050"
        serviceUrl="http://30.201.183.73:8010"></add>
      <add type="Oracle" environment="DevAKansas" databaseService="KSMIST2" databaseHost="usolpldxks005.xks.dcs-usps.com" databasePort="20010"
        serviceUrl="http://bas-test.ksad.xks.dcs-usps.com:8010"></add>
      <add type="Oracle" environment="DevBKansas" databaseService="KSMIST3" databaseHost="usolpldxks005.xks.dcs-usps.com" databasePort="20010"
        serviceUrl="http://bas-testb.ksad.xks.dcs-usps.com:8010"></add>
      <add type="Oracle" environment="DevCKansas" databaseService="KSHIST3" databaseHost="usolpldxks005.xks.dcs-usps.com" databasePort="20010"
        serviceUrl="http://bas-testc.ksad.xks.dcs-usps.com:9010"></add>
      <add type="Oracle" environment="DevDentiCal" databaseService="PDBDEV" databaseHost="" databasePort="1521"
        serviceUrl="http://bas-dev.corp.dxcdenti-cal.com:8010"></add>
      <add type="Oracle" environment="ProdDentiCal" databaseService="PDBPPU" databaseHost="" databasePort="1521"
        serviceUrl="http://bas.corp.dxcdenti-cal.com:8010"></add>
      <add type="Oracle" environment="MotDentiCal" databaseService="PDBTPU" databaseHost="" databasePort="1521"
        serviceUrl="http://bas-mot.corp.dxcdenti-cal.com:8010"></add>
      <add type="SqlServer" environment="HppConfigR11" databaseService="HPP_CFG-R11" databaseHost="hppcfgasq001.database.windows.net"
        databaseInitialCatalog="UA3_TENANT_R11" serviceUrl="https://bas-cfg.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="HppConfigR12" databaseService="HPP_CFG-R12" databaseHost="hppcfgasq001.database.windows.net"
        databaseInitialCatalog="UA3_TENANT" serviceUrl="https://bas-cfg.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="HppConfig" databaseService="HPP_CFG" databaseHost="hppcfgasq001.database.windows.net"
        databaseInitialCatalog="UA3_TENANT" serviceUrl="https://bas-cfg.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="HppSit" databaseService="HPP_SIT" databaseHost="hppsitasq001.database.windows.net" databaseInitialCatalog="UA3_TENANT"
        serviceUrl="https://bas-sit.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="HppUat" databaseService="HPP_UAT" databaseHost="hppuatasq001.database.windows.net" databaseInitialCatalog="UA3_TENANT"
        serviceUrl="https://bas-uat.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="HppProd" databaseService="HPP_Prod" databaseHost="hppprdasq001.database.windows.net"
        databaseInitialCatalog="UA3_TENANT" serviceUrl="https://bas.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="VaConfig" databaseService="VA_CFG" databaseHost="hppcfgasq002.database.windows.net"
        databaseInitialCatalog="UA3_TENANT" serviceUrl="https://vabas-cfg.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="VaSit" databaseService="VA_SIT" databaseHost="hppsitasq002.database.windows.net" databaseInitialCatalog="UA3_TENANT"
        serviceUrl="https://vabas-sit.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="VaUat" databaseService="VA_UAT" databaseHost="hppuatasq002.database.windows.net" databaseInitialCatalog="UA3_TENANT"
        serviceUrl="https://vabas-uat.hppcloud.com" serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="Local" databaseService="LOCAL" databaseHost="localhost" databaseInitialCatalog="UA3_TENANT" serviceUrl=""
        serviceVersion="R1.0"></add>
      <add type="SqlServer" environment="AzureStaging" databaseService="ASTG-CURR" databaseHost="astgsaaspdba.database.windows.net"
        databaseInitialCatalog="UA3_TENANT" serviceUrl="https://bas.mapshc.com" serviceVersion="R6.0"></add>
      <add type="SqlServer" environment="AzureStagingR14G" databaseService="ASTG-R14G" databaseHost="astgsaaspdba.database.windows.net"
        databaseInitialCatalog="UA3_TENANT_R14G" serviceUrl="" serviceVersion="R6.0" protectDataSource="true"></add>
    </dbServers>
  </custom>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <BatchDirectoryCheck.Properties.Settings>
      <setting name="DefaultTimeout" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultSnapshotDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultDatabaseSystem" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultSqlServerDatasource" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultOracleTenant" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultSqlServerTenant" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultOracleDatasource" serializeAs="String">
        <value>ADEV</value>
      </setting>
      <setting name="DefaultToDatasource" serializeAs="String">
        <value>Oracle</value>
      </setting>
      <setting name="DefaultToUsername" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultUsername" serializeAs="String">
        <value>UA3_Tenant</value>
      </setting>
    </BatchDirectoryCheck.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>