<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Dev Commercial 
    <add key="ADContainer" value="CN=Users,DC=dev2,DC=mapshc,DC=com"/>
    <add key="ADServer" value="ad.dev2.mapshc.com"/>
    <add key="ADUser" value="adSvc001"/>
    <add key="ADPassword" value="Password12345"/> -->
    <!-- Dev Medicaid -->
    <add key="ADContainer" value="CN=Users,DC=dev,DC=mapshc,DC=com" />
    <add key="ADServer" value="ad.dev.mapshc.com" />
    <add key="ADUser" value="adService" />
    <add key="ADPassword" value="Password2017" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>