<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <assembly name="HPE.HSP.UA3.Core.API.Logger" />
  <assembly name="HP.HSP.UA3.Core.BAS.CQRS" />
  <namespace name="HPE.HSP.UA3.Core.API.Logger.Interfaces" />
  <namespace name="HPE.HSP.UA3.Core.API.Logger.Loggers" />
  <namespace name="HP.HSP.UA3.Core.BAS.CQRS.Interfaces" />
  <namespace name="HP.HSP.UA3.Core.BAS.CQRS.Caching" />
  <assembly name="HPE.HSP.UA3.Core.API.Workflow.Interfaces" />
  <namespace name="HPE.HSP.UA3.Core.API.Workflow.Interfaces" />  
  <assembly name="HPE.HSP.UA3.Core.API.Workflow" />
  <namespace name="HPE.HSP.UA3.Core.API.Workflow" />
  <container name="ProviderEnrollmentContainer">
    <register type="ILogger" mapTo="CoreLogger">
      <lifetime type="singleton" />
    </register>
    <register type="ICacheManager" mapTo="RedisCacheManager">
      <lifetime type="singleton" />
    </register>
  </container>
  </unity>