<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEventAdminQueryService"/>
        <binding name="BasicHttpBinding_IEventAdminService"/>
        <binding name="BasicHttpBinding_IDataListsService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.DataLists/R1.0/DataListsService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDataListsService" contract="DataListsService.IDataListsService" name="BasicHttpBinding_IDataListsService"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.121.1.0" newVersion="2.121.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ODataEndpointAddress" value="http://localhost:30563/odata/"/>
    <add key="CoreTenantModuleId" value="2E60501F-A1AC-50B6-E053-C9157ACEFB50"/>
    <add key="AdministrationTenantModuleId" value="8E68491F-45F1-4CB6-E053-C9157ACEE851"/>
    <add key="CorrespondenceManagementTenantModuleId" value="98385830-84C2-5BB4-E053-C9157ACE364B"/>
    <add key="EmployeeManagementTenantModuleId" value="2E60501F-A2AC-50B6-E053-C9157ACEFB50"/>
    <add key="PlanManagementTenantModuleId" value="37917430-8776-774A-E053-C9157ACEC241"/>
    <add key="ProviderCredentialingTenantModuleId" value="DA4B092E-C191-0C3E-E053-C9157ACE2E41"/>
    <add key="ProviderEnrollmentTenantModuleId" value="2E60501F-A0AC-50B6-E053-C9157ACEFB50"/>
    <add key="ProviderManagementTenantModuleId" value="52C50C66-DE30-E347-BA8C-86B580038D79"/>
    <add key="ProviderPortalTenantModuleId" value="51FD68CE-70AE-D04D-BEFF-984C37B24A47"/>
    <add key="MemberPortalTenantModuleId" value="D616C887-E687-3641-B55B-10C3E52FD417"/>
    <add key="ProgramIntegrityTenantModuleId" value="68F2FD79-DE25-2D4C-AAB6-4AE390AB38A6"/>
    <add key="SchemaName" value="TENANT_WRK"/>   
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.DataAccess.Client"
        type="Oracle.DataAccess.EntityFramework.EFOracleProviderServices, Oracle.DataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="DATA SOURCE=HPE_TENANT_SVC_WRK;PASSWORD=TENANT_WRK;PERSIST SECURITY INFO=True;USER ID=TENANT_WRK"
      providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>