<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.DataListsWRK/R1.0/DataListsService.svc"
        binding="basicHttpBinding" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(binding)" />
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.TenantConfigurationWRK/R1.0/MenuService.svc"
        binding="basicHttpBinding"
        xdt:Transform="SetAttributes" xdt:Locator="Match(binding)" />
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.TenantConfigurationWRK/R1.0/AppSettingService.svc"
        name="BasicHttpBinding_IAppSettingService"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ODataEndpointAddress" value="http://localhost/HP.HSP.UA3.CodeTables/R1.0/odata/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SchemaName" value="TENANT_WRK"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=HPE_TENANT_SVC_WRK;User ID=TENANT_WRK;Password=TENANT_WRK;Self Tuning=false"
      providerName="Oracle.DataAccess.Client"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>  
</configuration>