<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.DataLists/R1.0/DataListsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataListsService"
        contract="DataListsService.IDataListsService" name="BasicHttpBinding_IDataListsService"
        xdt:Transform="SetAttributes" xdt:Locator="Match(binding)"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ODataEndpointAddress" value="http://206.122.21.177:8010/HP.HSP.UA3.CodeTables/R1.0/odata/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>