<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.DataListsDEV-NF/R1.0/DataListsService.svc"
        name="BasicHttpBinding_IDataListsService" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.TenantConfigurationDEV-NF/R1.0/MenuService.svc"
        name="BasicHttpBinding_IMenuService" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.TenantConfigurationDEV-NF/R1.0/AppSettingService.svc"
        name="BasicHttpBinding_IAppSettingService"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.TenantConfigurationDEV-NF/R1.0/HtmlBlockService.svc"
        name="BasicHttpBinding_IHtmlBlockService"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.TenantConfigurationDEV-NF/R1.0/ServiceService.svc"
        name="BasicHttpBinding_IServiceService"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ODataEndpointAddress" value="http://206.122.21.177:8010/HP.HSP.UA3.CodeTables/R1.0/odata/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SchemaName" value="UA3_TENANT"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=TENANT_DEV;User ID=UA3_TENANT;Password=tnnt_tst_e2;Self Tuning=false"
      providerName="Oracle.DataAccess.Client"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>