<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.DataListsDEV-NF/R6.0/DataListsService.svc" name="BasicHttpBinding_IDataListsService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.TenantConfigurationDEV-NF/R6.0/MenuService.svc" name="BasicHttpBinding_IMenuService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.TenantConfigurationDEV-NF/R6.0/AppSettingService.svc" name="BasicHttpBinding_IAppSettingService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.TenantConfigurationDEV-NF/R6.0/HtmlBlockService.svc" name="BasicHttpBinding_IHtmlBlockService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.TenantConfigurationDEV-NF/R6.0/ServiceService.svc" name="BasicHttpBinding_IServiceService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ODataEndpointAddress" value="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.CodeTables/R6.0/odata/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SchemaName" value="UA3_TENANT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = mapsdevdbo03.dev.mapshc.com)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = ADEV_PDBA)));User ID=RW_TENANT;Password=tnt_YsA92v;Self Tuning=false;Pooling=false;PERSIST SECURITY INFO=True" providerName="Oracle.ManagedDataAccess.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>