<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/HP.HSP.UA3.DataListsServices/R1.0/DataListsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataListsService"
        contract="DataListsService.IDataListsService" name="BasicHttpBinding_IDataListsService"
        xdt:Transform="SetAttributes" xdt:Locator="Match(binding)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ODataEndpointAddress" value="http://localhost/HP.HSP.UA3.CodeTables/R1.0/odata/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SchemaName" value="TENANT_WRK"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=HPE_TENANT_SVC_WRK;User ID=TENANT_WRK;Password=TENANT_WRK;Self Tuning=false"
      providerName="Oracle.DataAccess.Client"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>  
</configuration>