<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEventAdminQueryService" />
        <binding name="BasicHttpBinding_IEventAdminService" />
        <binding name="BasicHttpBinding_IDataListsService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://206.122.21.177:8010/HP.HSP.UA3.DataLists/R1.0/DataListsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataListsService"
        contract="DataListsService.IDataListsService" name="BasicHttpBinding_IDataListsService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.121.1.0" newVersion="2.121.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ODataEndpointAddress" value="http://localhost:31830/odata/" />
  </appSettings>
</configuration>  