<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Dev Commercial
    <add key="ADFSDomain" value="Dev2"/>
    <add key="ADFSEndPointAddress" value="https://adfs.dev2.mapshc.com/adfs/services/trust/13/usernamemixed"/>
    <add key="ADFSRelayIdentity" value="urn:dxc.maps"/> -->
    <!-- Dev Medicaid -->
    <add key="ADFSDomain" value="Dev" />
    <add key="ADFSEndPointAddress" value="https://adfs.dev.mapshc.com/adfs/services/trust/13/usernamemixed" />
    <add key="ADFSRelayIdentity" value="urn:dxc.maps" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>