<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HPE.HSP.UA3.Core.API.AuthManagement" version="19.2.70" targetFramework="net451" />
  <package id="IdentityModel" version="2.6.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.4.403061554" targetFramework="net451" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net451" />
</packages>
