<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <hosts>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Performance" databaseService="APRF_PDBA" databaseHost="mapsperfdbo01.performance.mapshc.com" databasePort="1521" serviceUrl="https://bas.performance.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Master Configuration" databaseService="AGLD_COMPARE" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="https://bas-gldsrc.shared.mapshc.com" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Demo" databaseService="ADMO_PDBA" databaseHost="mapsdemodbo01.demo.mapshc.com" databasePort="1521" serviceUrl="http://bas.demo.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Dev Shared" databaseService="ADEV_PDBA" databaseHost="mapsdevdbo01.dev.mapshc.com" databasePort="1521" serviceUrl="https://bas.dev.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Dev Medicaid" databaseService="ADEV_PDBB" databaseHost="mapsdevdbo01.dev.mapshc.com" databasePort="1521" serviceUrl="https://bas.dev.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure TestA Shared" databaseService="ATST_PDBA" databaseHost="mapststdbo01.test.mapshc.com" databasePort="1521" serviceUrl="https://bas.test.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure TestA Medicaid" databaseService="ATST_PDBB" databaseHost="mapststdbo01.test.mapshc.com" databasePort="1521" serviceUrl="https://bas.test.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure TestA Commercial" databaseService="ATST_PDBC" databaseHost="mapststdbo01.test.mapshc.com" databasePort="1521" serviceUrl="https://bas.test.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Stage0 Shared" databaseService="ASTH_PDBA" databaseHost="mapsstgdbo01.staging.mapshc.com" databasePort="1521" serviceUrl="https://bas.staging.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Stage0 Medicaid" databaseService="ASTH_PDBA" databaseHost="mapsstgdbo01.staging.mapshc.com" databasePort="1521" serviceUrl="https://bas.staging.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Stage1 Shared" databaseService="AST1_PDBA" databaseHost="mapsstg1dbo01.staging-1.mapshc.com" databasePort="1521" serviceUrl="http://bas.staging-1.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Stage1 Medicaid" databaseService="AST1_PDBA" databaseHost="mapsstg1dbo01.staging-1.mapshc.com" databasePort="1521" serviceUrl="http://bas.staging-1.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Stage2 Shared" databaseService="STG2_PDBA" databaseHost="mapsstgshrdbo01.mapshc.com" databasePort="1521" serviceUrl="https://bas-stage2.mapshc.com:8443" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Stage3 Shared" databaseService="STG3_PDBA" databaseHost="mapsstgshrdbo02.mapshc.com" databasePort="1521" serviceUrl="https://bas-stage3.mapshc.com:8443" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Stage4 Shared" databaseService="STG4_PDBA" databaseHost="mapsstgshrdbo01.mapshc.com" databasePort="1521" serviceUrl="https://bas-stage4.mapshc.com:8443" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure SandBox" databaseService="APOC_PDBA" databaseHost="mapsshrdbo02.shared.mapshc.com" databasePort="1521" serviceUrl="https://bas.sandbox.mapshc.com:443" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="HPP Product" environment="Azure Beta" databaseService="ABTA_PDBA" databaseHost="mapsbetadbo01.beta.mapshc.com" databasePort="1521" serviceUrl="http://bas.beta.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas Train" databaseService="KSHISA2_TAF" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030" serviceUrl="http://bas-train.ksad.xks.dcs-usps.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas UatConv" databaseService="KSHISP2_TAF" databaseHost="usolpldxks00-scan02.xks.dcs-usps.com" databasePort="20050" serviceUrl="http://bas-conv.ksad.xks.dcs-usps.com:9010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas UatA" databaseService="KSMISA2_TAF" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030" serviceUrl="http://30.201.181.23:9010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas SitA" databaseService="KSMISM2_TAF" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030" serviceUrl="http://usolgwwxks003.ksad.xks.dcs-usps.com:9010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas SitB" databaseService="KSMISM3" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030" serviceUrl="http://bas-sitb.ksad.xks.dcs-usps.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas SitC" databaseService="KSMISM4" databaseHost="usolpldxks00-scan01.xks.dcs-usps.com" databasePort="20030" serviceUrl="https://bas-sitc.ksad.xks.dcs-usps.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas Prod1" databaseService="KSMISP2_TAF" databaseHost="usolpldxks00-scan02.xks.dcs-usps.com" databasePort="20050" serviceUrl="http://30.201.183.19:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas Pps1" databaseService="KSMISS3_TAF" databaseHost="usolpldxks00-scan02.xks.dcs-usps.com" databasePort="20050" serviceUrl="http://30.201.183.73:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas DevA" databaseService="KSMIST2" databaseHost="usolpldxks005.xks.dcs-usps.com" databasePort="20010" serviceUrl="http://bas-test.ksad.xks.dcs-usps.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas DevB" databaseService="KSMIST3" databaseHost="usolpldxks005.xks.dcs-usps.com" databasePort="20010" serviceUrl="http://bas-testb.ksad.xks.dcs-usps.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas DevC" databaseService="KSHIST3" databaseHost="usolpldxks005.xks.dcs-usps.com" databasePort="20010" serviceUrl="https://bas-testc.ksad.xks.dcs-usps.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Kansas" environment="Kansas R14Gold" databaseService="KSMISX2" databaseHost="usolpldxks005.xks.dcs-usps.com" databasePort="20010" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="DentiCal" environment="DentiCal Dev" databaseService="PDBDEV" databaseHost="" databasePort="1521" serviceUrl="http://bas-dev.corp.dxcdenti-cal.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="DentiCal" environment="DentiCal Prod" databaseService="PDBPPU" databaseHost="" databasePort="1521" serviceUrl="http://bas.corp.dxcdenti-cal.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="DentiCal" environment="DentiCal Mot" databaseService="PDBTPU" databaseHost="" databasePort="1521" serviceUrl="http://bas-mot.corp.dxcdenti-cal.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Virgina" environment="Virginia VA55" databaseService="AGLD_VA55" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Vermont" environment="Vermont VT51SD" databaseService="AGLD_VT51SD" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Vermont" environment="Vermont VT55" databaseService="AGLD_VT55" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Vermont" environment="Vermont VT55D" databaseService="AGLD_VT55D" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Vermont" environment="Vermont VT51" databaseService="AGLD_VERMONT" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Vermont" environment="Vermont VT51S" databaseService="AGLD_VERMONT_S" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Sprint" environment="AXSP_SP55A" databaseService="AXSP_SP55A" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp55a.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Sprint" environment="AXSP_SP65A" databaseService="AXSP_SP65A" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp65a.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Sprint" environment="AXSP_SP72A" databaseService="AXSP_SP72A" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp6001.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX47_FX12" databaseService="AX47_FX12" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp4711.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX47_FX13" databaseService="AX47_FX13" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp4711.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX56_FX02" databaseService="AX56_FX02" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX56_FX03" databaseService="AX56_FX03" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX60_BASE" databaseService="AX60_BASE" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp6001.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX60_FX01" databaseService="AX60_FX01" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp6001.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX64_FX03" databaseService="AX64_FX03" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp6001.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX64_FX04" databaseService="AX64_FX04" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp6001.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX64_FX05" databaseService="AX64_FX05" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp6001.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add> 
    <add type="Oracle" environmentSet="Patch" environment="AX64_FX06" databaseService="AX64_FX06" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp6001.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX64_FX07" databaseService="AX64_FX07" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp6001.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX64_FX11" databaseService="AX64_FX11" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Patch" environment="AX70_FX01" databaseService="AX70_FX01" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="" protectDataSource="true" />
    <add type="Oracle" environmentSet="Patch" environment="AX70_FX02" databaseService="AX70_FX02" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="" protectDataSource="true" />
    <add type="Oracle" environmentSet="Patch" environment="AX70_FX05" databaseService="AX70_FX05" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="" protectDataSource="true" />
    <add type="Oracle" environmentSet="Gold Source" environment="AGLD_SP59G" databaseService="AGLD_SP59G" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="" serviceVersion="R1.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Gold Source" environment="AGLD_SP63G" databaseService="AGLD_SP63G" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp63g.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Gold Source" environment="AGLD_SP69G" databaseService="AGLD_SP69G" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp69g.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Gold Source" environment="AGLD_SP75G" databaseService="AGLD_SP75G" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp69g.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="Oracle" environmentSet="Gold Source" environment="AGLD_SP81G" databaseService="AGLD_SP81G" databaseHost="mapsshrdbo01.shared.mapshc.com" databasePort="1521" serviceUrl="http://bas.sp69g.mapshc.com:8010" serviceVersion="R6.0" protectDataSource="true"></add>
    <add type="SqlServer" environmentSet="HPP Product" environment="Azure Staging" databaseService="ASTG_S_PDBA" databaseHost="astgsaaspdba.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="HPP Product" environment="Azure Staging Medicaid Integration" databaseService="ASTG_S_PDBB" databaseHost="astgsaaspdbb.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="HPP Product" environment="Azure Staging Commercial Integration" databaseService="ASTG_S_PDBC" databaseHost="astgsaaspdbc.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="HPP Product" environment="Azure Performance" databaseService="APRF_S_PDBA" databaseHost="mapsperft1sql001.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas.performance.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="HPP Product" environment="Azure Performance Integration" databaseService="APRF_S_PDBB" databaseHost="mapsperft1sql001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas.performance.mapshc.com" serviceVersion="R6.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Vermont" environment="VT Config Integration" databaseService="VT_CFGINT" databaseHost="hppcfgvtasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas-cfg.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Vermont" environment="VT Sit Integration" databaseService="VT_SITINT" databaseHost="hppsitvtasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas-sit.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Vermont" environment="VT Uat Integration" databaseService="VT_UATINT" databaseHost="hppuatvtasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas-uat.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Vermont" environment="VT Prod Integration" databaseService="VT_PRDINT" databaseHost="hppprdvtasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Vermont" environment="VT MultiTenant Config" databaseService="VT_CFG" databaseHost="hppcfgasq001.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas-cfg.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Vermont" environment="VT MultiTenant Sit" databaseService="VT_SIT" databaseHost="hppsitasq001.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas-sit.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Vermont" environment="VT MultiTenant Uat" databaseService="VT_UAT" databaseHost="hppuatasq001.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas-uat.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Vermont" environment="VT MultiTenant Prod" databaseService="VT_PROD" databaseHost="hppprdasq001.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Virginia" environment="VA Config Integration" databaseService="VA_CFGINT" databaseHost="hppcfgvaasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://vabas-cfg.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Virginia" environment="VA Sit Integration" databaseService="VA_SITINT" databaseHost="hppsitvaasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://vabas-sit.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Virginia" environment="VA Uat Integration" databaseService="VA_UATINT" databaseHost="hppuatvaasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://vabas-uat.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Virginia" environment="VA Prod Integration" databaseService="VA_PRDINT" databaseHost="hppprdvaasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://vabas.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Virginia" environment="VA MultiTenant Config" databaseService="VA_CFG" databaseHost="hppcfgasq002.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://vabas-cfg.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Virginia" environment="VA MultiTenant Sit" databaseService="VA_SIT" databaseHost="hppsitasq002.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://vabas-sit.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Virginia" environment="VA MultiTenant Uat" databaseService="VA_UAT" databaseHost="hppuatasq002.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://vabas-uat.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="Virginia" environment="VA MultiTenant Prod" databaseService="VA_PROD" databaseHost="hppprdasq002.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://vabas.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="PuertoRico" environment="PR Config Integration" databaseService="PR_CFGINT" databaseHost="hppcfgprasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas.pr.cfg.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="PuertoRico" environment="PR Sit Integration" databaseService="PR_SITINT" databaseHost="hppsitprasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas.pr.sit.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="PuertoRico" environment="PR Uat Integration" databaseService="PR_UATINT" databaseHost="hppuatprasq001.database.windows.net" dbInitialCatalog="UA3_INTEGRATION" serviceUrl="https://bas.pr.uat.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="PuertoRico" environment="PR MultiTenant Config" databaseService="PR_CFG" databaseHost="hppcfgasq003.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas.pr.cfg.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="PuertoRico" environment="PR MultiTenant Sit" databaseService="PR_SIT" databaseHost="hppsitasq003.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas.pr.sit.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
    <add type="SqlServer" environmentSet="PuertoRico" environment="PR MultiTenant Uat" databaseService="PR_UAT" databaseHost="hppuatasq003.database.windows.net" dbInitialCatalog="UA3_TENANT" serviceUrl="https://bas.pr.uat.hppcloud.com" serviceVersion="R1.0" protectDataSource="false"></add>
  </hosts>
</configuration>
