<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns="urn:log4net">
	<appender name="AzureTableAppender" type="HPP.Core.API.Logger.Extensions.Appenders.AzureTableLogAppender, HPP.Core.API.Logger.Extensions" >
		<param name="TableName" value="WarmUpUtilityLogTable" />
		<param name="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mapstststorage01;AccountKey=/nv+j0gZHAEfByqeMGdWCPU6jhjZtv4z/Xm9ru6SwISqJFcyr3KUu7RSFTMBNqnhc3ohbrko6jdNfywvKHRSfg==;EndpointSuffix=core.windows.net" />
		<param name="ModuleName" value="Utility" />
		<param name="ApplicationName" value="WarmUp Utility SF Service" />
		<threshold value="ALL"/><!-- AzureTableAppender -->
	</appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level: %message%newline" />
    </layout>
    <threshold value="ALL" /><!-- ConsoleAppender -->
  </appender>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="C:\UA3\Logs\Utility\Warm Up Provider SF Service\" />
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd'\\Warm Up Provider SF Service-'yyyyMMdd'.log'"/>
    <preserveLogFileNameExtension value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level - %message%newline" />
    </layout>
    <threshold value="ALL" /><!-- RollingFileAppender -->
  </appender>
	<root>
		<appender-ref ref="AzureTableAppender" />
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="RollingFileAppender"/>
	</root>
</log4net>