<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <connectionStrings>
    <add name="TenantConfig"
      connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = mapsdevdbo01.dev.mapshc.com)(PORT = 1521))(CONNECT_DATA = (SERVER = SHARED)(SERVICE_NAME = ADEV_PDBA)));User ID=UA3_TENANT;Password=tnnt_tst_e2;Self Tuning=false;PERSIST SECURITY INFO=True"
          providerName="Oracle.ManagedDataAccess.Client"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
