<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AESKey" value="R9XvkFVnbVqpqApr3ytphPSCjbXmj0bnr2PF9fN6RTM=" />
    <add key="AESIV" value="9yd5SVRgv3uEew3+pS61XA==" />
    <add key="PaddingMode" value="PKCS7" />
  </appSettings>
</configuration>