<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="RegisterWorkflowEnvironment" type="WorkflowInstanceCleanupUtil.Lib.Models.WorkflowEnvironmentConfig, WorkflowInstanceCleanupUtil.Lib"/>
      <section name="RegisterWorkflowProcesses" type="WorkflowInstanceCleanupUtil.Lib.Models.WorkflowProcessConfig, WorkflowInstanceCleanupUtil.Lib"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <RegisterWorkflowEnvironment>
    <WorkflowEnvironments>

      <WorkflowEnvironment Environment="Dev - Medicaid - mapsdevk202.dev.mapshc.com" Server="mapsdevk202.dev.mapshc.com" Port="5555" Username="dev\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Test - Medicaid - mapststk202.test.mapshc.com" Server="mapststk202.test.mapshc.com" Port="5555" Username="test\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Test - Commercial - k2-dxccommercial.test2.mapshc.com" Server="k2-dxccommercial.test2.mapshc.com" Port="5555" Username="test2\hciadmin" Password="Password2019"/>
      <WorkflowEnvironment Environment="Old-Dev - k2.dev.mapshc.com" Server="k2.dev.mapshc.com" Port="8020" Username="dev\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Old-Test - mapststcot01.test.mapshc.com" Server="mapststcot01.test.mapshc.com" Port="5555" Username="test\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Staging - k2.staging.mapshc.com" Server="k2.staging.mapshc.com" Port="8020" Username="staging\service_workflow" Password="Password2017"/>
      <!--<WorkflowEnvironment Environment="Staging-1 - k2.staging-1.mapshc.com" Server="k2.staging-1.mapshc.com" Port="8020" Username="staging-1\service_workflow" Password="Password2017"/>-->
      <WorkflowEnvironment Environment="Stage 2 - k2.tenant1-stage2.mapshc.com" Server="k2.tenant1-stage2.mapshc.com" Port="5555" Username="tenant1-stage2\service_workflow" Password="Password2018"/>
      <WorkflowEnvironment Environment="Stage 3 - k2.tenant1-stage3.mapshc.com" Server="k2.tenant1-stage3.mapshc.com" Port="5555" Username="tenant1-stage3\service_workflow" Password="Password2018"/>
    </WorkflowEnvironments>
  </RegisterWorkflowEnvironment>
  <RegisterWorkflowProcesses>
    <WorkflowProcesses>
      <WorkflowProcess ProcessName="Monthly Screening Check" ProcessFullName="NegativeProviderFindings\Monthly Screening Check"/>
      <WorkflowProcess ProcessName="Owner Association" ProcessFullName="OwnerCredentialingWorkFlow\OwnerCredentialingProcess"/>
      <WorkflowProcess ProcessName="Sub contract Association" ProcessFullName="SubContractorWorkFlow\SubContractor Credentialing WorkFlow"/>
      <WorkflowProcess ProcessName="Managing employee Association" ProcessFullName="ProvManagingEmpWorkflow\Managing Employee Screening Check"/>
    </WorkflowProcesses>
  </RegisterWorkflowProcesses>
</configuration>
