<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WorkflowConfiguration" type="WorkflowInstanceCleanupUtil.Lib.Models.WorkflowConfigurationSection, WorkflowInstanceCleanupUtil.Lib"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <WorkflowConfiguration>
    <WorkflowEnvironments>
      <WorkflowEnvironment Environment="Dev - Medicaid - mapsdevk202.dev.mapshc.com" Server="mapsdevk202.dev.mapshc.com" Port="5555" Username="dev\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Test - Medicaid - mapststk202.test.mapshc.com" Server="mapststk202.test.mapshc.com" Port="5555" Username="test\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Test - Commercial - k2-dxccommercial.test2.mapshc.com" Server="k2-dxccommercial.test2.mapshc.com" Port="5555" Username="test2\hciadmin" Password="Password2019"/>
      <WorkflowEnvironment Environment="Old-Dev - k2.dev.mapshc.com" Server="k2.dev.mapshc.com" Port="8020" Username="dev\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Old-Test - mapststcot01.test.mapshc.com" Server="mapststcot01.test.mapshc.com" Port="5555" Username="test\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Staging - k2.staging.mapshc.com" Server="k2.staging.mapshc.com" Port="8020" Username="staging\service_workflow" Password="Password2017"/>
      <!--<WorkflowEnvironment Environment="Staging-1 - k2.staging-1.mapshc.com" Server="k2.staging-1.mapshc.com" Port="8020" Username="staging-1\service_workflow" Password="Password2017"/>-->
      <WorkflowEnvironment Environment="Stage 2 - k2.tenant1-stage2.mapshc.com" Server="k2.tenant1-stage2.mapshc.com" Port="5555" Username="tenant1-stage2\service_workflow" Password="Password2018"/>
      <WorkflowEnvironment Environment="Stage 3 - k2.tenant1-stage3.mapshc.com" Server="k2.tenant1-stage3.mapshc.com" Port="5555" Username="tenant1-stage3\service_workflow" Password="Password2018"/>
    </WorkflowEnvironments>
    <WorkflowProcesses>
      <WorkflowProcess ProcessName="Monthly Screening Check" ProcessFullName="NegativeProviderFindings\Monthly Screening Check"/>
      <WorkflowProcess ProcessName="Owner Association" ProcessFullName="OwnerCredentialingWorkFlow\OwnerCredentialingProcess"/>
      <WorkflowProcess ProcessName="Sub contract Association" ProcessFullName="SubContractorWorkFlow\SubContractor Credentialing WorkFlow"/>
      <WorkflowProcess ProcessName="Managing employee Association" ProcessFullName="ProvManagingEmpWorkflow\Managing Employee Screening Check"/>
      <WorkflowProcess ProcessName="PE Main" ProcessFullName="ProviderEnrollment\ProviderEnrollmentMain">
        <ChildProcesses>
          <ChildProcess ProcessName="Get Initial Reviewer" ProcessFullName="ProviderEnrollment\GetInitialReviewerSubProcess"/>
          <ChildProcess ProcessName="Build FingerPrint Model" ProcessFullName="ProviderEnrollment\ProviderEnrollmentBuildFingerPrintModel"/>
          <ChildProcess ProcessName="Check Fees" ProcessFullName="ProviderEnrollment\ProviderEnrollmentCheckFees"/>
          <ChildProcess ProcessName="Determine Reviewer" ProcessFullName="ProviderEnrollment\ProviderEnrollmentDetermineReviewer"/>
          <ChildProcess ProcessName="Nursing Facility Review" ProcessFullName="ProviderEnrollment\ProviderEnrollmentNursingFacilityReview"/>
          <ChildProcess ProcessName="Save Addresses" ProcessFullName="ProviderEnrollment\ProviderEnrollmentSaveAddresses"/>
          <ChildProcess ProcessName="UpdateFees" ProcessFullName="ProviderEnrollment\ProviderEnrollmentUpdateFees"/>
          <ChildProcess ProcessName="Disclosure Background Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessBackgroundCheck"/>
          <ChildProcess ProcessName="Disclosure Business Transaction Addresses" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessBusinessTransactionAddresses"/>
          <ChildProcess ProcessName="Disclosure Control Intrest" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessControlIntrest"/>
          <ChildProcess ProcessName="Disclosure Control Intrest Addresses" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessControlIntrestAddresses"/>
          <ChildProcess ProcessName="Disclosure Main" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessMain"/>
          <ChildProcess ProcessName="Disclosure Managing Individuals" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessManagingIndividuals"/>
          <ChildProcess ProcessName="Disclosure Managing Individuals Addresses" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessManagingIndividualsAddresses"/>
          <ChildProcess ProcessName="Disclosure Self Disclosure" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessSelfDisclosureCheck"/>
          <ChildProcess ProcessName="Disclosure SubContractor" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessSubContractor"/>
          <ChildProcess ProcessName="Disclosure SubContractor Address" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderDisclosureSubProcessSubContractorAddresses"/>
          <ChildProcess ProcessName="Attachment SubProcess" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentAttachmentSubProcess"/>
          <ChildProcess ProcessName="Save Addresses" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSaveAddresses"/>
          <ChildProcess ProcessName="Addresses SubProcess" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessAddresses"/>
          <ChildProcess ProcessName="Sub Process Get Details" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessGetDetails"/>
          <ChildProcess ProcessName="Get Remaining CLIA" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessGetRemainingCLIA"/>
          <ChildProcess ProcessName="Get Remaining DEA" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessGetRemainingDEA"/>
          <ChildProcess ProcessName="Get Remaining Licenses" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessGetRemainingLicenses"/>
          <ChildProcess ProcessName="Get Remaining Medicare" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessGetRemainingMedicare"/>
          <ChildProcess ProcessName="Get Service Location" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessGetServiceLocation"/>
          <ChildProcess ProcessName="Hospital Affiliations" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessHospitalAffiliations"/>
          <ChildProcess ProcessName="MRO Addresses" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderEnrollmentSubProcessMROAddresses"/>
          <ChildProcess ProcessName="Screening SubProcess" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcess"/>
          <ChildProcess ProcessName="Screening Auto Pass" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessAutoPass"/>
          <ChildProcess ProcessName="Screening CLIA Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessCLIACheck"/>
          <ChildProcess ProcessName="Screening Create Checklist" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessCreateChecklist"/>
          <ChildProcess ProcessName="Screening DEA Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessDEACheck"/>
          <ChildProcess ProcessName="Screening Facility License Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessFacilityLicenseCheck"/>
          <ChildProcess ProcessName="Screening Individual License Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessIndividualLicenseCheck"/>
          <ChildProcess ProcessName="Screening MMT Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessMMTCheck"/>
          <ChildProcess ProcessName="Screening NPPES Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessNPPESCheck"/>
          <ChildProcess ProcessName="Screening OIG Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessOIGCheck"/>
          <ChildProcess ProcessName="Screening PECOS Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessPECOSCheck"/>
          <ChildProcess ProcessName="Screening SAM Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessSAMCheck"/>
          <ChildProcess ProcessName="Screening SSNDM Check" ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessSSNDMCheck"/>
          <ChildProcess ProcessName="Screening State Check  " ProcessFullName="ProviderEnrollmentSubProcesses\ProviderScreeningSubProcessStateCheck"/>
        </ChildProcesses>
      </WorkflowProcess>
    </WorkflowProcesses>
  </WorkflowConfiguration>
</configuration>
