<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- 
        <add key="EventNamespace" value="HP.HSP.UA3.EmployeeMgmt.BAS.Employee.Contracts.Events.External"/>
        <add key="EventName" value="EmployeeNameChanged"/>
        <add key="TenantId" value=""/>
        <add key="ServiceUrlOverride" value="http://localhost:90/EmployeeEventService.svc"/>
        -->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEventDistribution" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40520/EmployeeEventService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventDistribution"
                contract="EventDistribution.IEventDistribution" name="BasicHttpBinding_IEventDistribution" />
        </client>
    </system.serviceModel>
</configuration>