<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="myEndPoints" type="ProviderManagement.EnrollmentTestClient.ListItemSection, ProviderManagement.EnrollmentTestClient" />
    <section name="myEvents" type="ProviderManagement.EnrollmentTestClient.ListItemSection, ProviderManagement.EnrollmentTestClient" />
  </configSections>
  <myEndPoints>
    <values>
      <remove name="" />
      <add name="DevIP" value="http://206.122.21.177:8010/HP.HSP.UA3.ProviderMgmt/R1.0/ProviderEventService.svc"/>
      <add name="DevDNS" value="http://bas.dev.ua3.eslabs.ssn.hp.com:8010/HP.HSP.UA3.ProviderMgmt/R1.0/ProviderEventService.svc"/>
      <add name="TestIP" value="http://130.175.189.231:8010/HP.HSP.UA3.ProviderMgmt/R1.0/ProviderEventService.svc"/>
      <add name="TestDNS" value="http://bas.test.ua3.eslabs.ssn.hp.com:8010/HP.HSP.UA3.ProviderMgmt/R1.0/ProviderEventService.svc"/>
      <add name="Local" value="http://localhost:40520/ProviderEventService.svc"/>
    </values>
  </myEndPoints>
  <myEvents>
    <values>
      <remove name="" />
      <add name="EnrollmentApproved" value="HP.HSP.UA3.ProviderEnrollment.BAS.EnrollmentSvc.Contracts.Events"/>
      <add name="RevalidationApproved" value="HP.HSP.UA3.ProviderEnrollment.BAS.EnrollmentSvc.Contracts.Events"/>
      <add name="ReenrollmentApproved" value="HP.HSP.UA3.ProviderEnrollment.BAS.EnrollmentSvc.Contracts.Events"/>
    </values>
  </myEvents>
  <appSettings>
    <!-- 
        <add key="TenantId" value=""/>
        <add key="ServiceUrlOverride" value="http://localhost:90/EmployeeEventService.svc"/>
        <add key="EventNameOverride" value="EmployeeNameChanged"/>
        <add key="EventNamespaceOverride" value="HP.HSP.UA3.EmployeeMgmt.BAS.Employee.Contracts.Events.External"/>
        -->
    <add key="FileDirectory" value="Libraries\Desktop"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEventDistribution" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40520/EmployeeEventService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventDistribution"
                contract="EventDistribution.IEventDistribution" name="BasicHttpBinding_IEventDistribution" />
        </client>
    </system.serviceModel>
</configuration>