<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="HP.HSP.UA3.Core.BAS.CQRS" version="19.1.64" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net461" />
  <package id="NEventStore" version="5.2.0" targetFramework="net461" />
  <package id="NEventStore.Persistence.MongoDB" version="5.3.7" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.7.0" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.7.0" targetFramework="net48" />
</packages>
