<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SmtpHost" value="smtp.sendgrid.net"/>
    <add key="SmtpUserName" value="azure_dd23ec010ca5c2cbf7348a16a30a2acc@azure.com"/>
    <add key="SmtpPassword" value="cQ3O5HZ4hQ7RBUur"/>
  </appSettings>
</configuration>