<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SmtpHost" value="smtp.sendgrid.net"/>
    <add key="SmtpUserName" value="apikey"/>
    <!-- Product key-->
    <add key="SmtpPassword" value="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"/>
    <!-- SAAS key
    <add key="SmtpPassword" value="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"/>-->
  </appSettings>
</configuration>