<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.net>
    <defaultProxy/>
  </system.net>
  <system.serviceModel>
    <client>
      <endpoint address="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.User/R6.0/UserQueryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserQueryService"
        contract="UserQueryService.IUserQueryService" name="BasicHttpBinding_IUserQueryService" />
      <endpoint address="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserQueryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUserQueryService"
        contract="UserQueryService.IUserQueryService" name="BasicHttpsBinding_IUserQueryService" />
      <endpoint address="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.User/R6.0/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUserService"
        contract="UserService.IUserService" name="BasicHttpsBinding_IUserService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IUserQueryService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IUserService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IUserQueryService" />
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
