<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.net>
    <defaultProxy/>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IUserQueryService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IUserService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IUserQueryService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpsBinding_IUserQueryService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IUserService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
