<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--<add key="SourceSchemaName" value="TENANT_WRK" />
    <add key="TargetSchemaName" value="UA3_TENANT" />-->
    <add key="SchemaName" value="UA3_TENANT" />
    <add key="DataListsDbContext.SchemaName" value="UA3_TENANT" />
    <add key="NoOfDays" value="10"/>
    <add key="SkipNoOfDays" value="true"/>
    <add key="CacheConnectionOptions" value="localhost:6379,allowAdmin=true"/>
    <add key="QueryFilePath" value="C:\UA3\Source\Utilities\Dev\DatalistSyncUtil\Queries"/>
    <add key="DataListsQueryFilePath" value="C:\UA3\Source\Utilities\Dev\DatalistSyncUtil\Queries\DataLists_"/>
    <add key="DataListItemsQueryFilePath" value="C:\UA3\Source\Utilities\Dev\DatalistSyncUtil\Queries\DataListItems_"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SourceDataList" connectionString="DATA SOURCE=HPE_TENANT_SVC_WRK;PASSWORD=TENANT_WRK;PERSIST SECURITY INFO=True;USER ID=TENANT_WRK" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="SourceDataList" connectionString="Data Source=TENANT_DEV;User ID=UA3_TENANT;Password=tnnt_tst_e2;Self Tuning=false" providerName="Oracle.DataAccess.Client" />-->
    <add name="SourceDataList" connectionString="DATA SOURCE=HPE_TENANT_SVC_TST;PASSWORD=tenant_tst89;PERSIST SECURITY INFO=True;USER ID=UA3_TENANT" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.DataAccess.Client"
        type="Oracle.DataAccess.EntityFramework.EFOracleProviderServices, Oracle.DataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
</configuration>