<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="SourceSchemaName" value="UA3_TENANT" />
    <add key="TargetSchemaName" value="UA3_TENANT" />-->
    <add key="SchemaName" value="UA3_TENANT" />
    <add key="DataListsDbContext.SchemaName" value="UA3_TENANT" />
    <add key="NoOfDays" value="10" />
    <add key="SkipNoOfDays" value="true" />
    <add key="CacheConnectionOptions" value="localhost:6379,allowAdmin=true" />
    <add key="CacheTimeOut" value="1440" />
    <add key="QueryFilePath" value="C:\UA3\Source\Utilities\Dev\DatalistSyncUtil\Queries" />
    <add key="DataListsQueryFilePath" value="C:\UA3\Source\Utilities\Dev\DatalistSyncUtil\Queries\DataLists_" />
    <add key="DataListItemsQueryFilePath" value="C:\UA3\Source\Utilities\Dev\DatalistSyncUtil\Queries\DataListItems_" />
    <add key="WSUserName" value="UA3dev\PM02DevAdmin1" />
    <add key="WSPassword" value="Adminpm02" />
    <add key="WSBinding" value="WS2007FederationHttpBinding_IDataListsService" />
    <add key="BasicHttpBinding" value="BasicHttpBinding_IDataListsService" />
    <!--<add key="BasicHttpBindingType" value="1"/>-->
    <add key="WSHttpBindingType" value="2" />
  </appSettings>
  <connectionStrings>
    <!--<add name="SourceDataList" connectionString="DATA SOURCE=AWRK_PDBA;PASSWORD=UA3_TENANT;PERSIST SECURITY INFO=True;USER ID=UA3_TENANT" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="TargetDataList" connectionString="DATA SOURCE=AWRK_PDBA;PASSWORD=UA3_TENANT;PERSIST SECURITY INFO=True;USER ID=UA3_TENANT" providerName="Oracle.DataAccess.Client" />-->
    <add name="SourceDataList" connectionString="Data Source=ADEV_PDBA;User ID=UA3_TENANT;Password=tnnt_tst_e2;Self Tuning=false" providerName="Oracle.DataAccess.Client" />
    <add name="TargetDataList" connectionString="DATA SOURCE=ATST_PDBA;USER ID=UA3_TENANT;PASSWORD=tenant_tst89;PERSIST SECURITY INFO=True" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.DataAccess.Client" type="Oracle.DataAccess.EntityFramework.EFOracleProviderServices, Oracle.DataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataListsService" />
      </basicHttpBinding>
      <ws2007FederationHttpBinding>
        <binding name="WS2007FederationHttpBinding_IDataListsService">
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false" issuedKeyType="BearerKey">
              <tokenRequestParameters>
                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                  <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                  <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                </trust:SecondaryParameters>
              </tokenRequestParameters>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <wsHttpBinding>
        <binding name="WS2007FederationHttpBinding_IDataListsService1">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bas.dev.mapshc.com/HP.HSP.UA3.DataLists/R6.0/DataListsService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IDataListsService" contract="DataListService.IDataListsService" name="WS2007FederationHttpBinding_IDataListsService" />
      <endpoint address="http://localhost:40520/DataListsService.svc" binding="wsHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IDataListsService1" contract="DataListService.IDataListsService" name="WS2007FederationHttpBinding_IDataListsService1" />
      <endpoint address="http://localhost:40520/DataListsService.svc/DataListsServiceBasicHttpBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataListsService" contract="DataListService.IDataListsService" name="BasicHttpBinding_IDataListsService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vertica.Data" publicKeyToken="725728a8837b3bd5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>