<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HP.HSP.UA3.Core.BAS.CQRS" version="20.1.82" targetFramework="net48" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net48" />
  <package id="NEventStore" version="5.2.0" targetFramework="net48" />
  <package id="NEventStore.Persistence.MongoDB" version="5.3.7" targetFramework="net48" />
</packages>