<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HP.HSP.UA3.Core.BAS.CQRS" version="21.1.100" targetFramework="net48" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net48" />
  <package id="NEventStore" version="5.2.0" targetFramework="net48" />
  <package id="NEventStore.Persistence.MongoDB" version="5.3.7" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net48" />
  <package id="HPE.HSP.UA3.Core.API.Logger" version="21.1.100" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.7.0" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="19.7.0" targetFramework="net48" />
</packages>
