<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FileHelpers" version="3.2.7" targetFramework="net451" />
  <package id="HP.HSP.UA3.Core.UX.Providers" version="18.4.60" targetFramework="net451" />
  <package id="jacobslusser.ScintillaNET" version="3.3.0" targetFramework="net451" />
</packages>
