<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
  <assembly name="HPE.HSP.UA3.Core.API.Logger" />
  <namespace name="HPE.HSP.UA3.Core.API.Logger.Interfaces" />
  <namespace name="HPE.HSP.UA3.Core.API.Logger.Loggers" />
  <container name="UserContainer">
    <register type="ILogger" mapTo="CoreLogger">
      <lifetime type="singleton" />
    </register>
    <register type="HPE.HSP.UA3.Core.API.AuthManagement.Interface.IAuthClaimsProvider, HPE.HSP.UA3.Core.API.AuthManagement.Interface"
              mapTo="HPE.HSP.UA3.Core.API.AuthManagement.Providers.ADFSClaimsProvider, HPE.HSP.UA3.Core.API.AuthManagement.Providers"
              >
      <lifetime type="transient"></lifetime>
      <constructor>
        <param name="userName">
          <value value="BT01Admin"></value>
        </param>
        <param name="password">
          <value value="Password1234"></value>
        </param>
        <param name="domain">
          <value value="Test"></value>
        </param>
        <param name="endpointAddress">
          <value value="https://adfs.test.mapshc.com/adfs/services/trust/13/usernamemixed"></value>
        </param>
        <param name="relayIdentity">
          <value value="urn:dxc.maps"></value>
        </param>
      </constructor>
    </register>
  </container>
</unity>