<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RegisterWorkflowEnvironment" type="WorkflowInstanceCleanupUtil.Models.WorkflowEnvironmentConfig, WorkflowInstanceCleanupUtil"/>
    <section name="RegisterWorkflowProcesses" type="WorkflowInstanceCleanupUtil.Models.WorkflowProcessConfig, WorkflowInstanceCleanupUtil"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <RegisterWorkflowEnvironment>
    <WorkflowEnvironments>
      <WorkflowEnvironment Environment="Dev - Medicaid - mapsdevk202.dev.mapshc.com" Server="mapsdevk202.dev.mapshc.com" Port="5555" Username="dev\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Test - Medicaid - mapststk202.test.mapshc.com" Server="mapststk202.test.mapshc.com" Port="5555" Username="test\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Test - Commercial - k2-dxccommercial.test2.mapshc.com" Server="k2-dxccommercial.test2.mapshc.com" Port="5555" Username="test2\hciadmin" Password="Password2019"/>
      <WorkflowEnvironment Environment="Old-Dev - k2.dev.mapshc.com" Server="k2.dev.mapshc.com" Port="8020" Username="dev\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Old-Test - mapststcot01.test.mapshc.com" Server="mapststcot01.test.mapshc.com" Port="5555" Username="test\service_workflow" Password="Password2017"/>
      <WorkflowEnvironment Environment="Staging - k2.staging.mapshc.com" Server="k2.staging.mapshc.com" Port="8020" Username="staging\service_workflow" Password="Password2017"/>
      <!--<WorkflowEnvironment Environment="Staging-1 - k2.staging-1.mapshc.com" Server="k2.staging-1.mapshc.com" Port="8020" Username="staging-1\service_workflow" Password="Password2017"/>-->
      <WorkflowEnvironment Environment="Stage 2 - k2.tenant1-stage2.mapshc.com" Server="k2.tenant1-stage2.mapshc.com" Port="5555" Username="tenant1-stage2\service_workflow" Password="Password2018"/>
      <WorkflowEnvironment Environment="Stage 3 - k2.tenant1-stage3.mapshc.com" Server="k2.tenant1-stage3.mapshc.com" Port="5555" Username="tenant1-stage3\service_workflow" Password="Password2018"/>
      <WorkflowEnvironment Environment="fltest - k2.tenant1-fltest.mapshc.com" Server="k2.tenant1-fltest.mapshc.com" Port="5555" Username="tenant1-fltest\service_workflow" Password="Password2020"/>
    </WorkflowEnvironments>
  </RegisterWorkflowEnvironment>
  <RegisterWorkflowProcesses>
    <WorkflowProcesses>
      <WorkflowProcess ProcessName="Monthly Screening Check" ProcessFullName="NegativeProviderFindings\Monthly Screening Check"/>
      <WorkflowProcess ProcessName="Owner Association" ProcessFullName="OwnerCredentialingWorkFlow\OwnerCredentialingProcess"/>
      <WorkflowProcess ProcessName="Sub contract Association" ProcessFullName="SubContractorWorkFlow\SubContractor Credentialing WorkFlow"/>
      <WorkflowProcess ProcessName="Managing employee Association" ProcessFullName="ProvManagingEmpWorkflow\Managing Employee Screening Check"/>
      <WorkflowProcess ProcessName="Disclosed Entities Screening Review" ProcessFullName="DisclosedEntitiesScreeningExtract\Disclosed Entities Screening Review"/>
      <WorkflowProcess ProcessName="Provider Screening Findings" ProcessFullName="ProviderScreeningFindings\Provider Screening"/>
      <WorkflowProcess ProcessName="External Provider Portal AuthorizedAdministratorChangeReview" ProcessFullName="ExternalPortalAuthorizedAdministratorChangeReview\ExternalProviderPortalAuthorizedAdministratorChangeReview"/>
      <WorkflowProcess ProcessName="External Portal AffiliatedProvider Review" ProcessFullName="ProviderManagement\ExternalPortalAffiliatedProviderReview"/>
      <WorkflowProcess ProcessName="External Provider Portal AdditionalTaxonomyReview" ProcessFullName="ProviderManagement\ExternalProviderPortalAdditionalTaxonomyReview"/>
      <WorkflowProcess ProcessName="External Provider Portal AddressChangeReview" ProcessFullName="ProviderManagement\ExternalProviderPortalAddressChangeReview"/>
      <WorkflowProcess ProcessName="External Provider Portal BaseNameReview" ProcessFullName="ProviderManagement\ExternalProviderPortalBaseNameReview"/>
      <WorkflowProcess ProcessName="External Provider Portal CLIAReview" ProcessFullName="ProviderManagement\ExternalProviderPortalCLIAReview"/>
      <WorkflowProcess ProcessName="External Provider Portal DEANumberChangeReview" ProcessFullName="ProviderManagement\ExternalProviderPortalDEANumberChangeReview"/>
      <WorkflowProcess ProcessName="External Provider Portal DMEPOSAccreditationReview" ProcessFullName="ProviderManagement\ExternalProviderPortalDMEPOSAccreditationReview"/>
      <WorkflowProcess ProcessName="External Provider Portal DMEPOSReview" ProcessFullName="ProviderManagement\ExternalProviderPortalDMEPOSReview"/>
      <WorkflowProcess ProcessName="External Provider Portal EFTReview" ProcessFullName="ProviderManagement\ExternalProviderPortalEFTReview"/>
      <WorkflowProcess ProcessName="External Provider Portal BaseEFTReview" ProcessFullName="ExternalProviderPortalBaseEFTEnrollmentReview\ExternalProviderPortalBaseEFTReview"/>
      <WorkflowProcess ProcessName="External Provider Portal License" ProcessFullName="ProviderManagement\ExternalProviderPortalLicenseReview"/>
      <WorkflowProcess ProcessName="External Provider Portal ManagingEmployeeAssociationReview" ProcessFullName="ProviderManagement\ExternalProviderPortalManagingEmployeeAssociationReview"/>
      <WorkflowProcess ProcessName="External Provider Portal MedicareNumberReview" ProcessFullName="ProviderManagement\ExternalProviderPortalMedicareNumberReview"/>
      <WorkflowProcess ProcessName="External Provider Portal NPIReview" ProcessFullName="ProviderManagement\ExternalProviderPortalNPIReview"/>
      <WorkflowProcess ProcessName="External Provider Portal OwnerAssociationReview" ProcessFullName="ProviderManagement\ExternalProviderPortalOwnerAssociationReview"/>
      <WorkflowProcess ProcessName="External Provider Portal PCPStatusReview" ProcessFullName="ProviderManagement\ExternalProviderPortalPCPStatusReview"/>
      <WorkflowProcess ProcessName="External Provider Portal SpecialtyChangeReview" ProcessFullName="ProviderManagement\ExternalProviderPortalSpecialtyChangeReview"/>
      <WorkflowProcess ProcessName="External Provider Portal SubcontractorAssociationReview" ProcessFullName="ProviderManagement\ExternalProviderPortalSubcontractorAssociationReview"/>
      <WorkflowProcess ProcessName="PRNUpdate Review" ProcessFullName="ProviderNetworkMaintenance\PRNUpdateReview"/>
      <WorkflowProcess ProcessName="Provider Revalidation Termination" ProcessFullName="Terminate Providers\InitiateTermination"/>
    </WorkflowProcesses>
  </RegisterWorkflowProcesses>
</configuration>