<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--D1-BAS,D1-BT,D1-UX,D1-DB,D1-RP,D1-AKS-->
    <!--<add key="BuildStartName" value="D1-BAS,D1-BT,D1-UX,D1-DB,D1-RP,R1-BAS,R1-BT,R1-UX,R1-DB,R1-RP,R2-BAS,R2-BT,R2-UX,R2-DB,R2-RP,R3-BAS,R3-BT,R3-UX,R3-DB,R3-RP,R4-BAS,R4-BT,R4-UX,R4-DB,R4-RP,R5-BAS,R5-BT,R5-UX,R5-DB,R5-RP,R6-BAS,R6-BT,R6-UX,R6-DB,R6-RP,R7-BAS,R7-BT,R7-UX,R7-DB,R7-RP" />-->
    <add key="BuildStartName" value="D1-BAS"/>
    <!--<add key="BuildStartName" value="D1-SF BAS Core Help,D1-SF BAS AD Event" />-->
    <add key="TestCaseFilter" value="TestCategory!=IgnoreOnBuild" />
    <add key="OperatorName" value="XAML_Migration" />
    <add key="D1-AppRelNum" value="10.1.9.18" />
    <add key="R1-AppRelNum" value="10.1.9.27" />
    <add key="R2-AppRelNum" value="10.1.9.36" />
    <add key="R3-AppRelNum" value="10.1.9.45" />
    <add key="R4-AppRelNum" value="10.1.9.54" />
    <add key="R5-AppRelNum" value="10.1.9.63" />
    <add key="R6-AppRelNum" value="10.1.9.72" />
    <add key="R7-AppRelNum" value="21.1.99.0" />
    <add key="R7-AppRelNum" value="20.3.97.0" />
    <add key="revenuemsbuildsargs" value="/m:1 /p:BuildInParallel=false /p:GenerateBuildInfoConfigFile=false /p:IntermediateOutputPath=c:\temp\revenueloader\" />
    <add key="SLNPath" value="c:/master/solutionlist.txt" />
    <add key="PKGPath" value="c:/master/pkg.txt" />
    <add key="ProductName" value="HPP" />
    <add key="SFMigration" value="SFMigration" />
    <add key="RunVnetFlag" value="false" />
    <add key="Longrunning" value="true" />
    <add key="PowershellFileName" value="PSscript1.ps1" />
    <add key="MultiSolutionNames" value="HP.HSP.UA3.Core.BAS.Help.sln,HP.HSP.UA3.Administration.BAS.EventAdmin.sln" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="LocalContext" connectionString="data source=localhost;initial catalog=UA3_DEVOPS;persist security info=True;user id=LCLDevops;password=Cross.world-69;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
   <add name="OneClickDevContext" connectionString="data source=mapsdevopssql01.database.windows.net;initial catalog=UA3_DEVOPS;persist security info=True;user id=UA3_DEVOPS;password=OCadmin@2020;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
 <add name="DevBuildTypeContext" connectionString="data source=localhost;initial catalog=UA3_Devops;user id=LCLDevops;password=Cross.world-69;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BuildQueueContext" connectionString="data source=localhost;initial catalog=UA3_Devops;persist security info=True;user id=LCLDevops;password=Cross.world-69;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1combined" connectionString="data source=localhost;initial catalog=UA3_Devops;persist security info=True;user id=LCLDevops;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>