<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.5.1.18" targetFramework="net48" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.5.1.19" targetFramework="net48" />
  <package id="Azure.Core" version="1.5.0" targetFramework="net48" />
  <package id="Azure.Data.AppConfiguration" version="1.0.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net48" />
  <package id="HP.HSP.UA3.Core.BAS.CQRS" version="21.3.112" targetFramework="net48" />
  <package id="HPE.HSP.UA3.Core.API.Logger" version="21.3.112" targetFramework="net48" />
  <package id="HPP.Core.API.AppConfig" version="21.3.112" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net461" />
  <package id="NEventStore" version="5.2.0" targetFramework="net461" />
  <package id="NEventStore.Persistence.MongoDB" version="5.3.7" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.7.0" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.7.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.0" targetFramework="net48" />
  <package id="StackExchange.Redis" version="2.2.4" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="5.0.0" targetFramework="net48" />
</packages>
