<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
     <add key="SourceRoot" value="C:\USHC\USHC_AMER_US_ADU_HSP_Ua3\Source\"/>
     <add key="ExtractionExt" value="\Dev\DB\Sql Scripts"/>
  </appSettings>
  <connectionStrings>
    <!-- <add name="ProviderManagement" connectionString="Data Source=PROVIDER_DEV;User ID=UA3_PROVIDER;Password=provider_g15;Self Tuning=false" providerName="System.Data.OracleClient"/>     -->
     <add name="ProviderEnrollment" connectionString="Data Source=PROVIDER_ENROLL_DEV;User ID=UA3_PROVIDER_ENROLL;Password=provider_enroll_t56;Self Tuning=false" providerName="System.Data.OracleClient"/>
   <!-- <add name="ProviderCredentialing" connectionString="Data Source=HP08DEV1.UNIX;User ID=UA3_PROVIDER_CRDNTL;Password=ua3_provider_crdntl;Self Tuning=false" providerName="System.Data.OracleClient"  />
     <add name="Notifications" connectionString="Data Source=HP08DEV1.UNIX;User ID=UA3_NOTIFICATIONS;Password=ua3_notifications;Self Tuning=false" providerName="System.Data.OracleClient"/>
     <add name="EmployeeMgmt" connectionString="Data Source=HP08DEV1.UNIX;User ID=HSPEMPLOYEE;Password=HSPEmpPass;Self Tuning=false" providerName="System.Data.OracleClient"/>-->
     <add name="InstallConnection" connectionString="Data Source=XE;User ID=SYSTEM;Password=MrR0b0t0;Self Tuning=false" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.121.2.0" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
