<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
     <add key ="SourceRoot" value="C:\USHC\USHC_AMER_US_ADU_HSP_Ua3\Source\"/>
     <add key ="ExtractionExt" value="\Dev\DB\Sql Scripts"/>
  </appSettings>
  <connectionStrings>
     <add name="ProviderManagement" connectionString="Data Source=HP08DEV1.UNIX;User ID=UA3_PROVIDER;Password=ua3_provider;Self Tuning=false" providerName="System.Data.OracleClient"  />
     <add name="ProviderCredentialing" connectionString="Data Source=HP08DEV1.UNIX;User ID=UA3_PROVIDER_CRDNTL;Password=ua3_provider_crdntl;Self Tuning=false" providerName="System.Data.OracleClient"  />
     <add name="ProviderEnrollment" connectionString="Data Source=HP08DEV1.UNIX;User ID=HSPPROVENROLL;Password=HSPProvEnrollPass;Self Tuning=false" providerName="System.Data.OracleClient"/>
     <add name="Notifications" connectionString="Data Source=HP08DEV1.UNIX;User ID=UA3_NOTIFICATIONS;Password=ua3_notifications;Self Tuning=false" providerName="System.Data.OracleClient"/>
     <add name="EmployeeMgmt" connectionString="Data Source=HP08DEV1.UNIX;User ID=HSPEMPLOYEE;Password=HSPEmpPass;Self Tuning=false" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>