<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IPAddress" value="206.122.21.162"/>
    <add key="UserID" value="ua3dev1"/>
    <add key="Password" value="Start123"/>
    <add key="FilePath" value="C:\temp\users.txt"/>
    <add key="ProtectedUsers" value="ua3dev1|K2Service|RMService|CMService|InRuleService|adfsService|k2admin|RuleAdmin|MIMMA|MIMSync|MIMSSPR|MIMSharePoint|MIMSqlServer|MIMBackupAdmin|VerticaService"/>
  </appSettings>
</configuration>