<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HPE.HSP.UA3.Core.API.BusinessRules" version="20.3.94" targetFramework="net48" />
  <package id="HPE.HSP.UA3.Core.API.Logger" version="20.3.94" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
</packages>
