<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="singleton"
        type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <assembly name="HP.HSP.UA3.Core.BAS.CQRS" />
  <assembly name="DataAccess" />
  <namespace name="HP.HSP.UA3.Core.BAS.CQRS.Interfaces" />
  <namespace name="DataAccess.Entities" />
  <container name="ProviderJsonConversion">
    <register type="IDbContextBase" mapTo="ProviderManagementDbContext" name="DbContextBase">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>
