<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="myEndPoints" type="BASEventsTestingUtil.ListItemSection, BASEventsTestingUtil" />
    <section name="myEvents" type="BASEventsTestingUtil.ListItemSection, BASEventsTestingUtil" />
  </configSections>
    <myEndPoints>
      <values>
        <remove name="" />
        <add name="PM - LocalHttps" value="https://localhost:44384/ProviderEventService.svc" />
        <add name="PM - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="PM - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="PM - Staging" value="https://bas.staging.mapshc.com:8010/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="PM - Staging-1" value="https://bas.staging-1.mapshc.com:8010/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="MC - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="MC - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="DR - LocalHttps" value="https://localhost:44387/DrugRebateEventService.svc" />
        <add name="DR - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.DrugRebate/R6.0/DrugRebateEventService.svc"/>
        <add name="DR - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.DrugRebate/R6.0/DrugRebateEventService.svc"/>
      </values>
    </myEndPoints>
    <appSettings>
      <add key="TenantId" value="77b50320-5f06-5740-84f4-18d4a8cda51d"/>
      <add key="FileDirectory" value="Libraries\Desktop"/>
      <add key="ThreadCount" value="5"/>
      <add key="EventNameAttribute" value="i:type"/>
      <add key="EventNameSpaceAttribute" value="xmlns:a"/>
      <add key="AllowMultiple" value="false"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
      </protocolMapping>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEventDistribution" />
              <binding name="BasicHttpBinding_IEnrollmentQueryService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="41943040" maxBufferSize="41943040" maxBufferPoolSize="524288">
                <security mode="Transport">
                  <transport clientCredentialType="None" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44384/EnrollmentEventService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnrollmentQueryService"
                contract="EventDistribution.IEventDistribution" name="BasicHttpBinding_IEnrollmentQueryService" />
        </client>
    </system.serviceModel>
</configuration>
