<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="myTenants" type="BASEventsTestingUtil.ListItemSection, BASEventsTestingUtil" />
    <section name="myEndPoints" type="BASEventsTestingUtil.ListItemSection, BASEventsTestingUtil" />
    <section name="myEvents" type="BASEventsTestingUtil.ListItemSection, BASEventsTestingUtil" />
    <section name="myModules" type="BASEventsTestingUtil.ListItemSection, BASEventsTestingUtil" />
  </configSections>
  <myEndPoints>
      <values>
        <remove name="" />        
        <add name="MM - LocalHttps" value="https://localhost:44369/MemberInformationEventService.svc" />
        <add name="MM - Dev" value="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.MemberInfo/R6.0/MemberInformationEventService.svc" />
        <add name="PM - LocalHttps" value="https://localhost:44396/ProviderEventService.svc" />
        <add name="PM - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="PM - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="PM - Staging" value="https://bas.staging.mapshc.com/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="PM - Staging-1" value="https://bas.staging-1.mapshc.com/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="PM - Beta" value="https://bas.beta.mapshc.com/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
        <add name="PE - LocalHttps" value="https://localhost:44384/EnrollmentEventService.svc" />
        <add name="MC - Local" value="http://localhost:40520/ManagedCareEventService.svc"/>
        <add name="MC - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="MC - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="MC - FinalTest" value="https://bas-fltest.mapshc.com/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="MC - Staging" value="http://bas.staging.mapshc.com:8010/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="MC - Staging 2" value="https://bas-stage2.mapshc.com:8443/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="MC - Staging 3" value="https://bas-stage3.mapshc.com:8443/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="MC - Staging 4" value="https://bas-stage4.mapshc.com:8443/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="MC - Staging 5" value="https://bas-stage5.stages.mapshc.com:8443/HP.HSP.UA3.ManagedCare/R6.0/ManagedCareEventService.svc"/>
        <add name="DR - LocalHttps" value="https://localhost:44387/DrugRebateEventService.svc" />
        <add name="DR - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.DrugRebate/R6.0/DrugRebateEventService.svc"/>
        <add name="DR - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.DrugRebate/R6.0/DrugRebateEventService.svc"/>
        <add name="IN - LocalHttps" value="https://localhost:44384/IntegrationEventService.svc"/>	
        <add name="IN - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.Integration/R6.0/IntegrationEventService.svc"/>	
        <add name="IN - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.Integration/R6.0/IntegrationEventService.svc"/>
        <add name="IM - Local" value="http://localhost:40520/UserEventService.svc"/>
        <add name="IM - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.UserIdentity/R6.0/UserEventService.svc"/>
        <add name="IM - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.UserIdentity/R6.0/UserEventService.svc"/>
        <add name="DA - LocalHttps" value="https://localhost:44384/DataAggregatorEventService.svc"/>
        <add name="DA - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.DataAggregator/R6.0/DataAggregatorEventService.svc"/>	
        <add name="DA - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.DataAggregator/R6.0/DataAggregatorEventService.svc"/>
        <add name="Core - LocalHttps" value="https://localhost:44311/EventDistributionService.svc"/>
        <add name="Core - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.Core.BAS.EventDistribution/R6.0/EventDistributionService.svc"/>
        <add name="Core - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.Core.BAS.EventDistribution/R6.0/EventDistributionService.svc"/>
        <add name="Core - FinalTest" value="https://bas-fltest.mapshc.com/HP.HSP.UA3.Core.BAS.EventDistribution/R6.0/EventDistributionService.svc"/>
        <add name="TPL - LocalHttps" value="https://localhost:44342/PolicyEventService.svc"/>
        <add name="TPL - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.TPLPolicyService/R6.0/PolicyEventService.svc"/>
        <add name="TPL - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.TPLPolicyService/R6.0/PolicyEventService.svc"/>
        <add name="TPLCT - LocalHttps" value="https://localhost:44318/CaseTrackingEventService.svc"/>
        <add name="TPLCT - Dev" value="https://bas.dev.mapshc.com/HP.HSP.UA3.TPLCaseTracking/R6.0/CaseTrackingEventService.svc"/>
        <add name="TPLCT - Test" value="https://bas.test.mapshc.com/HP.HSP.UA3.TPLCaseTracking/R6.0/CaseTrackingEventService.svc"/>
      </values>
  </myEndPoints>
  <myTenants>
    <values>
      <remove name="" />
      <add name="Medicaid" value="77b50320-5f06-5740-84f4-18d4a8cda51d" />
      <add name="Commercial" value="b37b1cec-6603-2d4f-ac37-74e0724774a1" />
      <add name="Default" value="081e354b-2184-47fe-b69d-3c5229d8bccf" />
    </values>
  </myTenants>
  <myModules>
    <values>
      <add name="Administration" value="Administration" />
      <add name="Claims Management" value="Claims Management" />
      <add name="Drub Rebate" value="Drub Rebate" />
      <add name="External" value="External" />
      <add name="Identity Management" value="Identity Management" />
      <add name="Integration" value="Integration" />
      <add name="Managed Care" value="Managed Care" />
      <add name="Member Management" value="Member Management" />
      <add name="Plan Management" value="Plan Management" />
      <add name="Program Integrity" value="Program Integrity" />
      <add name="Program Integrity CT" value="Program Integrity CT" />
      <add name="Provider Enrollment" value="Provider Enrollment" />
      <add name="Provider Management" value="Provider Management" />
      <add name="Task Management" value="Task Management" />
      <add name="TPL Case Tracking" value="TPL Case Tracking" />
      <add name="TPL Policy" value="TPL Policy" />
    </values>
  </myModules>
  <appSettings>
    <add key="FileDirectory" value="Libraries\Desktop"/>
    <add key="ThreadCount" value="5"/>
    <add key="EventNameAttribute" value="i:type"/>
    <add key="EventNameSpaceAttribute" value="xmlns:a"/>
    <add key="AllowMultiple" value="false"/>
    <add key="UseAsyncForMultiEvents" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <defaultProxy>
      <!-- Uncomment this line to test WCF services via Fiddler
      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
      -->
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEventDistribution" />
        <binding name="BasicHttpBinding_IEnrollmentQueryService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="41943040" maxBufferSize="41943040" maxBufferPoolSize="524288">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44384/EnrollmentEventService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnrollmentQueryService"
          contract="EventDistribution.IEventDistribution" name="BasicHttpBinding_IEnrollmentQueryService" />
    </client>
  </system.serviceModel>
</configuration>
