<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="myEndPoints" type="BASEventsTestingUtil.ListItemSection, BASEventsTestingUtil" />
    <section name="myEvents" type="BASEventsTestingUtil.ListItemSection, BASEventsTestingUtil" />
  </configSections>
  <myEndPoints>
    <values>
      <remove name="" />
 <add name="DevIP" value="http://143.162.104.12:8010/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
      <add name="DevDNS" value="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
      <add name="TestIP" value="http://143.162.103.16:8010/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
      <add name="TestDNS" value="http://bas.test.mapshc.com:8010/HP.HSP.UA3.ProviderMgmt/R6.0/ProviderEventService.svc"/>
    
      <add name="EnrollmentLocal" value="https://localhost:44384/EnrollmentEventService.svc" />
      <add name="STG-1" value="http://bas.staging-1.mapshc.com:8010/HP.HSP.UA3.ProviderEnrollmentServices/R6.0/EnrollmentEventService.svc"/>
    </values>
  </myEndPoints>
  <myEvents>
    <values>
      <remove name="" />
      <add name="RevalidationInitialized" value="HP.HSP.UA3.ProviderEnrollment.BAS.EnrollmentSvc.Contracts.Events"/>
      <add name="EnrollmentApproved" value="HP.HSP.UA3.ProviderEnrollment.BAS.EnrollmentSvc.Contracts.Events"/>
      <add name="ReenrollmentApproved" value="HP.HSP.UA3.ProviderEnrollment.BAS.EnrollmentSvc.Contracts.Events"/>
      <add name="RevalidationApproved" value="HP.HSP.UA3.ProviderEnrollment.BAS.EnrollmentSvc.Contracts.Events"/>
      <add name="MCOEnrollmentInitialized" value="HP.HSP.UA3.ProviderEnrollment.BAS.EnrollmentSvc.Contracts.Events"/>
    </values>
  </myEvents>
  <appSettings>
    <!-- 
        <add key="ServiceUrlOverride" value="http://localhost:90/EmployeeEventService.svc"/>
        <add key="EventNameOverride" value="EmployeeNameChanged"/>
        <add key="EventNamespaceOverride" value="HP.HSP.UA3.EmployeeMgmt.BAS.Employee.Contracts.Events.External"/>
        -->
    <add key="TenantId" value="77b50320-5f06-5740-84f4-18d4a8cda51d"/>
    <add key="FileDirectory" value="Libraries\Desktop"/>
    <add key="ThreadCount" value="5"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
      </protocolMapping>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEventDistribution" />
              <binding name="BasicHttpBinding_IEnrollmentQueryService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="41943040" maxBufferSize="41943040" maxBufferPoolSize="524288">
                <security mode="Transport">
                  <transport clientCredentialType="None" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
      <!-- Using the below endpoint if you want to test against LOCAL environment-->
            <endpoint address="https://localhost:44384/EnrollmentEventService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnrollmentQueryService"
                contract="EventDistribution.IEventDistribution" name="BasicHttpBinding_IEnrollmentQueryService" />
      <!-- Using the below endpoint if you want to test against TEST-->
          <!--<endpoint address="https://bas.test.mapshc.com:8010/HP.HSP.UA3.ProviderEnrollmentServices/R6.0/EnrollmentEventService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventDistribution"
              contract="EventDistribution.IEventDistribution" name="BasicHttpBinding_IEventDistribution" />-->
      <!-- Using the below endpoint if you want to test against STG-1-->
          <!--<endpoint address="http://bas.staging-1.mapshc.com:8010/HP.HSP.UA3.ProviderEnrollmentServices/R6.0/EnrollmentEventService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventDistribution"
              contract="EventDistribution.IEventDistribution" name="BasicHttpBinding_IEventDistribution" />-->
        </client>
    </system.serviceModel>
</configuration>
