<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="myTenants" type="EventRouterByPassTool.ListItemSection, EventRouterByPassTool" />
    <section name="myConnectionStrings" type="EventRouterByPassTool.ListItemSection, EventRouterByPassTool" />
    <section name="myEvents" type="EventRouterByPassTool.ListItemSection, EventRouterByPassTool" />
    <section name="myModules" type="EventRouterByPassTool.ListItemSection, EventRouterByPassTool" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <myConnectionStrings>
    <values>
      <remove name="" />
      <add name="Medicaid Test - ATST_PDBB" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = mapststdbo02.test.mapshc.com)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = ATST_PDBB)));User ID=UA3_INTEGRATION;Password=integration34;Self Tuning=false;PERSIST SECURITY INFO=True" />
      <add name="Medicaid Dev - ADEV_PDBB" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = mapsdevdbo03.dev.mapshc.com)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = ADEV_PDBB)));User ID=RW_INTEGRATION;Password=InT_QwE92m;Self Tuning=false;PERSIST SECURITY INFO=True" />
      <add name="Medicaid Work - AWRK_PDBB" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = mapsdevdbo02.dev.mapshc.com)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = AWRK_PDBB)));User ID=UA3_INTEGRATION;Password=UA3_INTEGRATION;Self Tuning=false;PERSIST SECURITY INFO=True" />
      <add name="Commercial Work" value="server=tcp:mapswrkt1sql001.database.windows.net,1433;Initial Catalog=UA3_INTEGRATION;Persist Security Info=False;User ID=UA3_INTEGRATION;Password=Qasd_123;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;" />
    </values>
  </myConnectionStrings>
  <myTenants>
    <values>
      <remove name="" />
      <add name="Medicaid" value="77b50320-5f06-5740-84f4-18d4a8cda51d" />
      <add name="Commercial" value="b37b1cec-6603-2d4f-ac37-74e0724774a1" />
      <add name="Default" value="081e354b-2184-47fe-b69d-3c5229d8bccf" />
    </values>
  </myTenants>
  <myModules>
    <values>
      <add name="Administration" value="Administration" />
      <add name="Claims Management" value="Claims Management" />
      <add name="Drug Rebate" value="Drug Rebate" />
      <add name="External" value="External" />
      <add name="Identity Management" value="Identity Management" />
      <add name="Integration" value="Integration" />
      <add name="Managed Care" value="Managed Care" />
      <add name="Member Management" value="Member Management" />
      <add name="Plan Management" value="Plan Management" />
      <add name="Program Integrity" value="Program Integrity" />
      <add name="Program Integrity CT" value="Program Integrity CT" />
      <add name="Provider Enrollment" value="Provider Enrollment" />
      <add name="Provider Management" value="Provider Management" />
      <add name="Task Management" value="Task Management" />
      <add name="TPL Case Tracking" value="TPL Case Tracking" />
      <add name="TPL Policy" value="TPL Policy" />
    </values>
  </myModules>
  <appSettings>
    <add key="FileDirectory" value="Libraries\Desktop" />
    <add key="ThreadCount" value="5" />
    <add key="EventNameAttribute" value="i:type" />
    <add key="EventNameSpaceAttribute" value="xmlns:a" />
    <add key="AllowMultiple" value="true" />
    <add key="UseAsyncForMultiEvents" value="false" />
    <add key="LogFileNameForMultipleFileProcess" value="ExecutionLog.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <defaultProxy>
      <!-- Uncomment this line to test WCF services via Fiddler
      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
      -->
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEnrollmentQueryService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="524288" maxBufferSize="41943040" maxReceivedMessageSize="41943040">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44384/EnrollmentEventService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnrollmentQueryService" contract="EventDistribution.IEventDistribution" name="BasicHttpBinding_IEnrollmentQueryService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>