<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ApplicationName" value="Query Logging Reconciliation Utility" />
      <add key="Mode" value="Interactive" />
      <!--Enter the mode of operation: Interactive or Automated-->
      <add key="TenantId" value="77b50320-5f06-5740-84f4-18d4a8cda51d" />
      <add key="QueryLogSettingDataListContentId" value="PlanManagement.DataList.QueryLogSetting" />
      <add key="DataListsQueryServiceURL" value="https://localhost:44311/DataListsQueryService.svc" />
      <!--<add key="DataListsQueryServiceURL" value="https://bas.dev.mapshc.com/HP.HSP.UA3.DataLists/R6.0/DataListsQueryService.svc" />-->
      <add key="DataListsCommandServiceURL" value="https://localhost:44311/DataListsService.svc/Datalist" />
      <!--<add key="DataListsCommandServiceURL" value="https://bas.dev.mapshc.com/HP.HSP.UA3.DataLists/R6.0/DataListsService.svc/Datalist" />-->
      <add key="IdentifierId" value="" /> <!-- Not currently used -->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataListsQueryService" />
                <binding name="BasicHttpsBinding_IDataListsQueryService">
                    <security mode="Transport" />
                </binding>
                <binding name="SecuredHttpBinding_Large" closeTimeout="00:10:30"
                    openTimeout="00:10:30" receiveTimeout="00:10:30" sendTimeout="00:10:30"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxBufferSize="4096000" maxReceivedMessageSize="4096000" transferMode="Streamed">
                    <readerQuotas maxDepth="32" maxStringContentLength="4096000"
                        maxArrayLength="4096000" maxBytesPerRead="4096" maxNameTableCharCount="4096000" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="SecuredHttpBinding_XLarge" closeTimeout="00:00:30"
                    openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxBufferSize="104096000" maxReceivedMessageSize="104096000"
                    transferMode="Streamed">
                    <readerQuotas maxDepth="32" maxStringContentLength="104096000"
                        maxArrayLength="104096000" maxBytesPerRead="4096" maxNameTableCharCount="104096000" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IDataListsService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IDataListsService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <ws2007FederationHttpBinding>
                <binding name="WS2007FederationHttpBinding_IDataListsService">
                    <security mode="TransportWithMessageCredential">
                        <message establishSecurityContext="false" issuedKeyType="BearerKey">
                            <tokenRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                                    <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                    <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                                </trust:SecondaryParameters>
                            </tokenRequestParameters>
                        </message>
                    </security>
                </binding>
                <binding name="WS2007FederationHttpBinding_IDataListsService1">
                    <security mode="TransportWithMessageCredential">
                        <message establishSecurityContext="false" issuedKeyType="BearerKey">
                            <tokenRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                                    <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                    <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                                </trust:SecondaryParameters>
                            </tokenRequestParameters>
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40520/DataListsQueryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataListsQueryService"
                contract="DataListsQueryService.IDataListsQueryService" name="BasicHttpBinding_IDataListsQueryService" />
            <endpoint address="https://localhost:44311/DataListsQueryService.svc"
                binding="basicHttpBinding" bindingConfiguration="SecuredHttpBinding_Large"
                contract="DataListsQueryService.IDataListsQueryService" name="BasicHttpsBinding_Large_IDataListsQueryService" />
            <endpoint address="https://localhost:44311/DataListsQueryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDataListsQueryService"
                contract="DataListsQueryService.IDataListsQueryService" name="BasicHttpsBinding_IDataListsQueryService" />
            <endpoint address="https://localhost:44311/DataListsService.svc"
                binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IDataListsService1"
                contract="DataListsService.IDataListsService" name="WS2007FederationHttpBinding_IDataListsService" />
            <endpoint address="https://localhost:44311/DataListsService.svc/Datalist"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataListsService1"
                contract="DataListsService.IDataListsService" name="BasicHttpBinding_IDataListsService" />
        </client>
    </system.serviceModel>
</configuration>