<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
  <assembly name="HPE.HSP.UA3.Core.API.Logger" />
  <namespace name="HPE.HSP.UA3.Core.API.Logger.Interfaces" />
  <namespace name="HPE.HSP.UA3.Core.API.Logger.Loggers" />
  <container name="ConvertTagCSVToJSONContainer">
    <register type="ILogger" mapTo="CoreLogger">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>